#helloSection,
#inputSection,
#gameScreen {
	display: none;
}

#helloSection.show,
#inputSection.show,
#gameScreen.show {
	display: block;
}

#gameBox {
	display: block;
	width: 450px;
	height: 450px;
}

#gameBox > img {
	cursor: pointer;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
