#helloSection,
#inputSection,
#gameScreen,
#scoreboard,
#loader {
	display: none;
}

#helloSection.show,
#inputSection.show,
#gameScreen.show,
#loader.show,
#scoreboard.show {
	display: block;
}

#gameBox {
	display: block;
	width: 450px;
	height: 450px;
}

#gameBox > img {
	cursor: pointer;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#gameboxWrapper {
	position: relative;
}

#loader {
	position: absolute;
	top: 0;
}
