#helloSection {
	display: none;
}

#helloSection.show {
	display: block;
}

#inputSection {
	display: none;
}

#inputSection.show {
	display: block;
}

#gameBox {
	display: block;
	width: 600px;
	height: 600px;
}

#gameBox > img {
	cursor: pointer;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
